@tailwind base;
@tailwind components;
@tailwind utilities;
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.field_with_errors.hide {
  display: none;
}


/* Flash */
.animate-flash-in {
  animation: fade-in 0.25s ease-out,
             slide-in 0.25s ease-out;
}

.animate-flash-out {
  animation: fade-out 0.25s ease-out,
             slide-out 0.25s ease-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in {
  from { transform: translateX(4rem); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(4rem); }
}
